html {
  height: 100%;
  width: 100%;
}

h1,h2,h3,p, a, li, ol {
  font-family: sans-serif;
}

header{
  background-color: #E03616;
  padding-top: 0px;
}

header h1, header h2{
  color: #fff;
}

h1{
   font-size: 48px; 
}
 h2 {
  font-size: 24px;
}



li{
  font-size: 14px;
  color: #3B7080;
}

header{
  background-color: #E03616;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0%;
}

h1, h2{
  text-align: center;
}

main{
  background-color: #fff;
}
img.circle-crop-center{
  border-radius: 50%;
  object-position: 50% 50%;
}

.accent-background{

  color:  #fff;
}

nav {
  text-align: center;
}

footer p{
  background-color: #E03616;
  color:  #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text
  height: 50px;
}

a:link {
  color: #5998C5;
}
a:visited{
  color: #58355E;
}
a:hover{
  color: #3B7080;
}
a:active{
  color: #FFFFFC;
}